html, body {
height: 100%;
margin: 0;
}

.description {
  
}

.infobox {
float:left;
padding:6px;
background-color:#F2F7F9;
box-shadow: 6px 6px 5px #888888;
}

.construction:before {
position: absolute;
content: '';
background: url(tape.png);
opacity: 0.5;
top:46%;
width:100%;
height:8px;
pointer-events: none;
z-index: 100;

       -webkit-transform: rotate(345deg);
       -moz-transform: rotate(345deg);
       -ms-transform: rotate(345deg);
       -o-transform: rotate(345deg);
transform: rotate(345deg);
}

#contact-form {
	background-color:#F2F7F9;
width:465px;
top: 30px;
padding:20px;
margin: 20px auto;
margin-left:360px;
border: 6px solid #75D99F;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
position:static;
}

#contact-form h1 {
	font-size:42px;
}

#contact-form h2 {
	margin-bottom:15px;
	font-style:italic;
	font-weight:normal;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
	font-size:15px;
	margin-bottom:2px;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
width:400px;
border: 1px solid #CEE1E8;
	margin-bottom:20px;
padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

#contact-form textarea {
height:150px;
resize: none;
}

#contact-form label {
display:block;
}

#contact-form .required {
	font-weight:bold;
color:#F00;    
}

#contact-form #submit-button {
width: 100px;
       background-color:#333;
color:#FFF;
border:none;
display:block;
float:right;
      margin-bottom:0px;
      margin-right:6px;
      background-color:#8FB5C1;
      -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
	background-color: #A6CFDD;
}

#contact-form #submit-button:active {
position:relative;
top:1px;
}

#contact-form #loading {
width:32px;
height:32px;
       /*       background-image:url(./img/loading.gif);*/
display:block;
position:absolute;
right:130px;
bottom:16px;
display:none;
}

#errors {
border:solid 1px #E58E8E;
padding:10px;
margin:25px 0px;
display:block;
width:412px;
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      border-radius:8px;
      /*background:#FFE6E6 url(images/cancel_48.png) no-repeat center center;
	background-size: contain;*/
display:none;
}

#errors li {
padding:2px;
	list-style:none;    
}

#errors li:before {
content: ' - ';    
}

#errors #info {
	font-weight:bold;
}

#errors #info:before {
content: '';    
}

#success {
border:solid 1px #83D186;
padding:25px 10px;
margin:25px 0px;
display:block;
width:412px;
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      border-radius:8px;
background:#D3EDD3 url(images/accepted_48.png) no-repeat 300px center;
	   background-size: contain;
	   font-weight:bold;
display:none;
}

#errors.visible, #success.visible {
display:block;    
}

#req-field-desc {
	font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
	      -moz-box-shadow:none;
	      -webkit-box-shadow:none;
	      -o-box-shadow:none;
	      box-shadow:none;
      }

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
color:#CCC;
      font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
color:#CCC;
      font-style:italic;
      }

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
color:#CCC;
      font-style:italic;
}



#contactinfo{ 
display: block;
width: 256px;
       margin-left: 2%;
       margin-right:auto;
}






.nextbtn{
	-moz-box-shadow:inset 0px 1px 0px -1px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px -1px #97c4fe;
	box-shadow:inset 0px 1px 0px -1px #97c4fe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
       background-color:#3d94f6;
       -webkit-border-top-left-radius:0px;
       -moz-border-radius-topleft:0px;
       border-top-left-radius:0px;
       -webkit-border-top-right-radius:42px;
       -moz-border-radius-topright:42px;
       border-top-right-radius:42px;
       -webkit-border-bottom-right-radius:42px;
       -moz-border-radius-bottomright:42px;
       border-bottom-right-radius:42px;
       -webkit-border-bottom-left-radius:0px;
       -moz-border-radius-bottomleft:0px;
       border-bottom-left-radius:0px;
       text-indent:0;
border:1px solid #337fed;
display:inline-block;
color:#ffffff;
      font-family:Georgia;
      font-size:16px;
      font-weight:bold;
      font-style:normal;
height:32px;
       line-height:32px;
width:57px;
      text-decoration:none;
      text-align:center;
      text-shadow:1px 1px 23px #1570cd;
}
.nextbtn:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
       background-color:#1e62d0;
}.nextbtn:active {
position:relative;
top:1px;
}
.backbtn {
	-moz-box-shadow:inset 0px 1px 0px -1px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px -1px #97c4fe;
	box-shadow:inset 0px 1px 0px -1px #97c4fe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
       background-color:#3d94f6;
       -webkit-border-top-left-radius:42px;
       -moz-border-radius-topleft:42px;
       border-top-left-radius:42px;
       -webkit-border-top-right-radius:0px;
       -moz-border-radius-topright:0px;
       border-top-right-radius:0px;
       -webkit-border-bottom-right-radius:0px;
       -moz-border-radius-bottomright:0px;
       border-bottom-right-radius:0px;
       -webkit-border-bottom-left-radius:42px;
       -moz-border-radius-bottomleft:42px;
       border-bottom-left-radius:42px;
       text-indent:0;
border:1px solid #337fed;
display:inline-block;
color:#ffffff;
      font-family:Georgia;
      font-size:16px;
      font-weight:bold;
      font-style:normal;
height:32px;
       line-height:32px;
width:57px;
      text-decoration:none;
      text-align:center;
      text-shadow:1px 1px 23px #1570cd;
}
.backbtn:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
       background-color:#1e62d0;
}.backbtn:active {
position:relative;
top:1px;
}

/* This button was generated using CSSButtonGenerator.com */
